# Maven #
target/

# IDEA #
.idea/
*.iml

# Eclipse #
.settings/
.classpath
.project
mall-admin/.factorypath
.vscode/launch.json
mall-backend.code-workspace
mall-demo/.mvn/**
mall-portal/.mvn/**
mall-search/.mvn/**
